@charset "UTF-8";
@import url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42886/mtShared.css);
.carouselNav {
  position: relative;
  height: 160px;
  overflow: hidden;
}
.carouselNav__listWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carouselNav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  padding: 0 2.5rem;
  top: 0;
  left: 0;
  right: 0;
  height: 190px;
  overflow-x: scroll;
  word-spacing: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.carouselNav__listItem {
  display: inline-block;
  height: 160px;
}
.carouselNav__listItem:not(:last-child) {
  position: relative;
}

.carouselNav__listItem:not(:last-child) a {
  margin-right: 1rem;
  font-size: 16px;
}
.carouselNav__listItem:not(:first-child) {
  padding-left: 2rem;
}
.carouselNav img {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  color: #000;
  text-decoration: none;
}
.carouselNav--move {
  transition: left 0.5s;
}
.carouselNav__prev, .carouselNav__next {
  position: absolute;
  top: 0;
  font-size: 0;
  text-decoration: none;
  color: #000;
  height: 160px;
  width: 2rem;
}
.carouselNav__prev:before, .carouselNav__next:before {
  display: inline-block;
  font-family: "MtShared";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  line-height: 160px;
}
.carouselNav__prev {
  left: 0;
  padding-left: 0.25rem;
  /*background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #dedede 100%);*/
}
.carouselNav__prev:before {
  content: "";
  right: 0;
}
.carouselNav--first .carouselNav__prev {
  display: none;
}
.carouselNav__next {
  right: 0;
  text-align: right;
  padding-right: 0.25rem;
 /* background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #dedede 100%);*/
}
.carouselNav__next:before {
  content: "";
}
.carouselNav--last .carouselNav__next {
  display: none;
}

.imgNav {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}